@font-face {
  font-family: Poppins-SemiBold;
  src: url('../assets/poppins/Poppins-SemiBold.otf');
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url('../assets/poppins/Poppins-ExtraBoldItalic.otf');
}
@font-face {
    font-family: Poppins-Regular;
    src: url('../assets/poppins/Poppins-Regular.otf');
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url('../assets//poppins/Poppins-ExtraBold.otf');
}
@font-face {
    font-family:PingFangSC-Light;
    src: url('../assets/pingfang/PingFang-SC-Light.ttf');
}
@font-face {
    font-family:PingFangSC-Semibold ;
    src: url('../assets/pingfang/PingFangSC-Semibold.woff2');
}
@font-face {
    font-family: PingFangSC-Regular;
    src: url('../assets/pingfang/PingFang-SC-Regular.ttf');
}
@font-face {
    font-family: PingFangSC-Medium;
    src: url('../assets/pingfang/PingFang-Medium.ttf');
}